pkgbase = sonic-screen
	pkgdesc = Screen management software for SonicDE Workspaces
	pkgver = 6.6.3.1
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-screen
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kimageformats
	depends = kirigami
	depends = kitemmodels
	depends = ksvg
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = plasma5support
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	depends = qt6-base
	depends = qt6-declarative
	provides = kscreen
	conflicts = kscreen
	replaces = kscreen
	source = sonic-screen-6.6.3.1.tar.gz::https://github.com/Sonic-DE/sonic-screen/archive/refs/tags/6.6.3.1.tar.gz
	sha256sums = eaa0beb39855942fbb1a3353ebfd0bc6725d05a0914ca02607c5f2b7977e6d08

pkgname = sonic-screen
