pkgbase = sonic-screen
	pkgdesc = SonicDE screen management software
	pkgver = 6.6.5
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-screen
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kconfig
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kimageformats
	depends = kitemmodels
	depends = ksvg
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = plasma5support
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	provides = kscreen
	conflicts = kscreen
	source = sonic-screen-6.6.5.tar.gz::https://github.com/Sonic-DE/sonic-screen/archive/refs/tags/6.6.5.tar.gz
	sha256sums = c32c825529a69b30d81beeccce834a48bcc8e922401473210d922024693c6d1a

pkgname = sonic-screen
